* {
  box-sizing: border-box;
}

/* Style the body */
body {
  /*    position: relative;*/
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 20px;
  text-align: center;
  background: #c8f55f;
  color: #444;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #444;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover:not(.active) {
  background-color: #ddd;
  color: black;
}

/* Gives the current page link a different property so the user know where they are  */
.active {
  background-color: #aaa;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px;
  height: 100vh;
}

/* Main column */
.main {
  -ms-flex: 80%; /* IE10 */
  flex: 80%;
  background-color: white;
  padding: 20px;
}

/* Clearfix Hack */
.clearfix::after {
  content: "";
  clear: both;
  display: flex;
}

/* Button for Episode 2 */
.button {
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

/* Footer */
.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
}

/* Change color of mouse highlighter */
::selection {
  color: inherit;
  background: #c8f55f;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .side {
    height: auto;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
